
body {
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(241,245,170,1) 0%, rgba(180,210,177,1) 50%, rgba(126,174,242,1) 100%);
    }
  
.main-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;

    }
.header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(180,210,177,0.5);
        height: 70px;
        box-shadow: 10px 5px 5px rgb(129 136 94)
    }
.header_list {
        display: flex;
    }
.header_list li+li {
        margin-left: 100px;
    }
.header_list a {
        color:  rgb(22 50 15);
        transition: 0.2s ease;
           }
.header_list a:hover {
        color: rgb(253, 151, 16);
        text-decoration: underline;
    }
.main-content-section {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;   
   }

   /*about me style*/


.projects{
    padding-top: 100px;
    width: 100%;
    


}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    color:  rgb(22 50 15);
    cursor: pointer;
}
.project-list {
    padding: 20px 0;
    margin-top: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.project-list img {
    border-radius: 20px;
    transition: 0.3s ease;
    border: 2px solid rgb(75, 114, 65);
}
.project-list img:hover {
    transform: scale(1.05);

}
.project-list p {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: rgb(29, 29, 29);
}
.work-expirience{
margin-top: 70px;
}
.work {
    margin-top: 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.position {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgb(22 50 15);
    margin-bottom: 10px;
    cursor: pointer;

}
.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgb(4 101 37);
}
.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c2c;
    margin-bottom: 10px;
}
.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list {

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    }

    /*education section*/

.education { 

margin-top: 70px;
}
.title-education {
    
    margin-bottom: 10px;
}
.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgb(4 101 37);
    margin-bottom: 10px;
    margin-top: 0;

}
.departament {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}
.period-universtity {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #595959;
    margin-bottom: 10px;
    margin-top: 0;
}
.education_acordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
    /* Sidebar section */


.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 100px;
    width: 100%;
}
.sidebar-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.about-me {
    padding-top: 20px;

}
.about-me-proffesion
{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgb(22 50 15);
    margin-bottom: 20px;
 }
.about-me-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    color: rgb(22 50 15);
}

.about-descriptions {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:  rgb(22 50 15);
    max-width: 400px;


}

.sidebar-title {
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    color:  rgb(22 50 15);
    cursor: pointer;
    text-align: center;
  
}


 /* Contact section */
 .contact-section {
  padding-top: 100px;
    width: 100%;

 }
 .contact_list {
    padding-top: 60px;
   text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
 }
.contact-section-type{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}
.contact-section-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #49525F;
    text-decoration: none;
    transition: 0.2s ease;
}
.contact-section-link:hover {
    color: #FB6D3A;
    text-decoration: underline;

}

.contact-social {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    transition: 0.2s ease;
}
.contact-social a {
    transition: 0.2s ease;
}
.contact-social a:hover {
    transform: scale(1.1);
} 
.contact-social img {
    transition: 0.2s ease;
}
.contact-social img:hover {
    filter: brightness(0.3);
}
/* tech skill section */
.tech-skill-section {
    width: 100%;
    padding-top: 100px; 
}
.tech-skill-list {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;


}
.tech-skill-list img {
    opacity: 0.4;
}
.tech-skill-item {
    color: #FB6D3A;
}
.tech-skill-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
 }
 /* soft skill section */
 .soft-skill-section {
    width: 100%;
    padding-top: 100px;

 }
 .soft-skill-list {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
 
 }
 
 .soft-skill-item-text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: rgb(94, 93, 93);
 }
 .image {
    display: flex;
    justify-content: center;
 }
 .image img {
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(228, 228, 228, 0.2);
    transition: 0.2s ease;
     }
 .image img:hover {
    transform: scale(1.1);
 }

 /* Acordion */
 .arrow {
    margin-left: 10px;
    
 }
.arrow img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
 
.active_arrow img {
    transform: rotate(-180deg);
    transition: 1s ease-in-out;
}
.arrow_black {
    margin-left: 10px;
    
}
.arrow_black img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
.arrow_orange {
    margin-left: 10px;
}
.arrow_orange img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
.active_acordion {
    max-height: 1500px;
    transition: max-height 2s ease-in;
}
/* Media */

@media(max-width:1122px) {
    .sidebar-section {
        width: 100%;
    }
    .tech-skill-section, .soft-skill-section, .contact-section {
        text-align: center;
        margin-left: auto;
    }
    .main-content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 20px 20px 30px;
        text-align: center;
    }
    .tech-skill-list, .soft-skill-list {
        list-style: none;
        padding-left: 0;
    }
    .sidebar-title {
        display: inline-block;
    }
    .sidebar-title::after {
        right: -40%;
    }
    .about-descriptions {
        text-align: center;
    }
    .work-list {
        padding-left: 17px;
    }
}