
body {
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(241,245,170,1) 0%, rgba(180,210,177,1) 50%, rgba(126,174,242,1) 100%);
    }
  
.main-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 1103px;
    margin: 0 auto;
    position: relative;

    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(180,210,177,0.5);
        height: 100px;
    }
    .header_list {
        display: flex;
    }
    .header_list li+li {
        margin-left: 100px;
    }
.main-content-section {

   
    padding: 105px 120px 105px 90px;
   }

   /*about me style*/


.projects{
    margin-bottom: 50px;


}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:  rgb(22 50 15);
    cursor: pointer;
}
.project-list {
    margin: 0;
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project, .project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link {
    margin-left: 10px;
    text-decoration: none;
    transition: 0.2s ease;
}
.project-link:hover {
    color: #f85a21;
    text-decoration: underline;
    font-size: 16px;
}
.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.work-expirience{
    max-width: 525px;
    margin-bottom: 45px;

}
.work {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;

}
.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list {

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    }

    /*education section*/

.education { 


}
.title-education {
    
    margin-bottom: 10px;
}
.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
    margin-top: 0;

}
.departament {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}
.period-universtity {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
    margin-top: 0;
}
.education_acordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
    /* Sidebar section */


.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 100px;
    width: 100%;
}
.sidebar-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.about-me {
    padding-top: 20px;

}
.about-me-proffesion
{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgb(22 50 15);
    margin-bottom: 20px;
 }
.about-me-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    color: rgb(22 50 15);
}

.about-descriptions {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:  rgb(22 50 15);
    max-width: 400px;


}
.contact-section,
.tech-skill-section,
.soft-skill-section
 { 
    margin: 50px 0 0 40px;
}
.sidebar-title {
    
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:  rgb(22 50 15);
    margin-bottom: 10px;
    cursor: pointer;
  
}


 /* Contact section */
 .contact_list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
 }
.contact-section-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}
.contact-section-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #49525F;
    text-decoration: none;
    transition: 0.2s ease;
}
.contact-section-link:hover {
    color: #FB6D3A;
    text-decoration: underline;

}
/* tech skill section */
.tech-skill-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    padding: 0 0 0 17px;

}

.tech-skill-item {
    color: #FB6D3A;
}
.tech-skill-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
 }
 /* soft skill section */
 .soft-skill-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    padding: 0 0 0 17px;
 }
 .soft-skill-item {
    color: #FB6D3A;
 }
 .soft-skill-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
 }
 .image {
    display: flex;
    justify-content: center;
 }
 .image img {
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(228, 228, 228, 0.2);
    transition: 0.2s ease;
     }
 .image img:hover {
    transform: scale(1.1);
 }

 /* Acordion */
 .arrow {
    margin-left: 10px;
    
 }
.arrow img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
 
.active_arrow img {
    transform: rotate(-180deg);
    transition: 1s ease-in-out;
}
.arrow_black {
    margin-left: 10px;
    
}
.arrow_black img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
.arrow_orange {
    margin-left: 10px;
}
.arrow_orange img {
    transition: 1s ease-in-out;
    vertical-align: middle;
}
.active_acordion {
    max-height: 800px;
    transition: max-height 2s ease-in;
}
/* Media */

@media(max-width:1122px) {
    .sidebar-section {
        width: 100%;
    }
    .tech-skill-section, .soft-skill-section, .contact-section {
        text-align: center;
        margin-left: auto;
    }
    .main-content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 20px 20px 30px;
        text-align: center;
    }
    .tech-skill-list, .soft-skill-list {
        list-style: none;
        padding-left: 0;
    }
    .sidebar-title {
        display: inline-block;
    }
    .sidebar-title::after {
        right: -40%;
    }
    .about-descriptions {
        text-align: center;
    }
    .work-list {
        padding-left: 17px;
    }
}